{% extends "website/base.html" %}

{% block content %}

<div class="content">
    <div class="people">
        {% for people in peoples %}
        <div class="crew">
            <div class="peopleimage">
                <img src="{{ people.photo.url }}" alt="Person Photo" height="200" width="200">
            </div>
            <div class="personname">{{ people.name }}</div>
            <div class="designation">Designation: {{ people.designation }}</div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock  %}